:root{
  --white: #FBFBFB;
  --black: #39040E;
  --accent-pink: #D8425B;
  --off-pink: #DC566C;
  --orange: #F7926E;
  --golden-yellow: #FCC183;
  --shadow-blue: #D4E4ED;
}

html{
  background-color: var(--white);
  color: var(--black);

  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html, body, h1, h3{
  margin: 0;
}

h1{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  margin-top: 2.3125rem;
/* 
  top: 52px;
  left: 57px; */
}

h2{
  color: var(--accent-pink);
  font-size: 24px;
  font-weight: 500;
}

a{
  cursor: pointer;
}

.navbar{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  /* align-items: center; */
  gap: 1.1875rem;
}

.navLinks{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 1.3125rem;
  margin-top: 2.6875rem;
  font-size: 1.25rem;
  margin-left: 2.5rem;
}

.navLinks a:hover{
  color: var(--accent-pink);
  text-decoration: underline;
}

.decorLine{
  width: 1.375rem;
  height: 6.1875rem;
  background-color: var(--accent-pink);
}

.body{
  /* background-color: lightblue; */
  display: grid;
  height: calc(100vh - 6.1875rem - 2.5625rem);
  grid-template-columns: max-content auto max-content;
  margin-left: 2.5625rem;
  margin-right: 2.5625rem;
}

.colB{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.colC{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 366px;
  /* padding-left: 1rem; */
  padding-right: 1rem;
}

p{
  font-size: 16px;
  line-height: 28px;
  align-self: center;
  margin: 0;
}

.info{
  /* background-color: var(--off-pink); */
  max-height: 112px;
  word-wrap: break-word;
  box-shadow: 5px 5px 7px var(--shadow-blue);
  padding: 1rem;
  transition: transform .3s; /* Animation */

}

.info:hover{
  transform: scale(1.05);
}

.recentCard a{
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 30px;
}

.info p{
  width: 100%;
}

.recentCard{
  margin: 1rem;
  width: 320px
}

.rowB{
  position: fixed;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  align-items: center;
  /* justify-content: center; */
  /* padding: 0.5rem; */
  box-sizing: border-box;
  gap: 1rem;
  margin-left: 2.5625rem;
  bottom: 0.5rem;
}

.rowB img{
  width: 72px;
  opacity: 0.8;
  padding: 0;
  transition: transform 0.3s;
}

.rowB img:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}

.rowB h2{
  margin: 0;
  font-size: 20px;
  line-height: 40px;
}

.rowB a{
  display: flex;
  align-items: center;
  height: 100%;
}